
<section class="home-top-section">
  Welcome To
<h1 class="welcome-tag">{{name}}</h1>
<!-- <div class="home-logo"><img src="{{homeIcon}}" alt="cowboy logo"/></div> -->

<!-- <div class="arrow-down-div"><img src="./image/arrow-down.svg" alt="Down" class="arrow-down"/></div> -->
</section>
<footer>
<section class="home-section2">
  <!-- background carousel -->
  <div class="home-menu-link">
    <p>
      This is some text
    </p>


    <button ui-sref="menu" type="button" name="menu" class="menu-button">Check Out Our Menu</button>

  </div>

</section>
</footer>
