/*font-family: 'Old Standard TT', serif;
font-family: 'Pavanam', sans-serif;*/
@import{ url('https://fonts.googleapis.com/css?family=Didact+Gothic');
}
/*body tag css is so text won't show up behind nav bar*/
body {
  background: url("./image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 65px;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
  font-family: 'Helvetica Neue', 'Helvetica';
}

/*ACTUAL NAV BAR*/
.nav-bar {
  background-color: rgba(0, 0, 0, 0.5);/*#343d46*/
  outline: none;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  text: white;
  z-index: 100;
}
/*NAV BAR LINKS*/
.nav-bar-views {
  display: flex;
  justify-content: space-around;
  height:100%;
  align-items: center;
}

.home-icon {
  width: 3em;
  position: relative;
  top: 2px;
  background: white;
  border-radius: 50%;
}

.home-icon:hover {
  background: lightblue;
}

.views {
  color: white;
  font-size: 1em;
  text-decoration: none;
  text-shadow: 2px 2px black;
}

.views:hover{
  cursor: pointer;
  color: #666;

}

/*FOOTER*/
.footer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 45px;
  position: fixed;;
  bottom: 0px;
  /*margin-top: -180px;*/
  clear: both;

}



/*background*/
/*.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg_video {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
}*/


/*HOME TEMPLATE*/
.parallax-container {
   /*height: 50px;*/
 }

/*MENU TEMPLATE*/

/*LOCATIONS TEMPLATE*/

.location {
  background: white;
  width: 85%;
  margin: auto;
  padding: 10px;
  border: 10px black;
  margin-top: 20vh;
  list-style-type: none;
  display: flex;
  -webkit-box-shadow: 0px 0px 78px 26px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 78px 26px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 78px 26px rgba(0,0,0,0.7);
}

.contact-info {
  padding: 10px;
  line-height: 21px;
  width: 50%;
}

.map {
  width: 100%;
  background-color: grey;

}
/*RESERVATIONS TEMPLATE*/

.reservations-container {
  background: white;
  width: 85%;
  margin: auto;
  padding: 10px;
  border: 10px black;
  margin-top: 20vh;
  list-style-type: none;
  display: flex;
  -webkit-box-shadow: 0px 0px 78px 26px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 78px 26px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 78px 26px rgba(0,0,0,0.7);
}

.reservations {
  margin: auto;
  padding: 5em;
}

.reservation-image {
  width: 100%;
}

.reservations-greeting {
  background: url("./image/reservation-greeting.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
}

/*ABOUT TEMPLATE*/

/*CONTACT TEMPLATE*/
