<div class="reservations-container">
  <div class="reservations">
    <p>
      Please let us know if you plan on visiting and we would love to seat you as soon as you arive
    </p><br>
    <p class="reservations-name">
        Name: <input type="box" name="name" value="" placeholder="Name" class="input-name"></p><br>

    <p class="reservations-date">
      Date: <button onclick="myFunction()" class="dropbtn" type="button" name="name">Date</button></p><br>

    <p class="reservations-guests">

    Guests:
    <form>
      <input type="number" name="quantity" min="1" max="100">
    </form>
    <!-- <select name="guests" id="guests">
      <option value="">1</option>
      <option value="">2</option>
      <option value="">3</option>
      <option value="">4</option>
      <option value="">5</option>
      <option value="">6</option>
      <option value="">7</option>
      <option value="">8</option>
      <option value="">9</option>
      <option value="">10</option>
    </select> -->
  </p> <br>

    <p class="reservations-comments">

    Comments: <input type="text" name="name" value=""></p><br>

    <button type="button" name="button">Submit</button>
  </div>


  <div class="reservations-greeting">
    <!-- <img src="./image/reservation-greeting.jpeg" alt="" class="reservation-image"/> -->
  </div>
</div>
